@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
background-color: #0E1014;
color: #FFFFFF;

}

header img{
    display: block;
    margin: 75px 0 0 360px;
}
h1{
    font-family: 'Unbounded', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}
h1 span{
    color: #9747FF;
}
a{
    display: block;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #9747FF;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    margin: 40px auto;
}
a:hover{
    background-color: #8233E8;
}
p, a{
    font-family: 'Poppins', sans-serif;
}
p{
    margin: 24px auto 0;
    width: 792px;
    font-size: 24px;
    text-align: center;
}
section img{
    display: block;
    margin: 0 auto;
    width: 792px;
    height: 446px;
}

@media(max-width: 768px) {
    
    header img{
        margin: 65px 0 0 60px;

    }
    p{
        width: 648px;
    }
    section img{
        width: 659px;
        height: 446px;
    }
}

@media(max-width: 450px){
        header img{
        margin: 32px 0 0 16px;
        width: 209px;
        height: 34px;

    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        width: 251px;
        height: 66px;
        font-size: 20px;
    }
    section img{
        width: 341px;
        height: 280px;
    }
}